In [1]:
# write a python for showing "hello world"
print("hello world")

hello world

In [3]:
#using print function to show "hello and good morning"
print("hello world")
print("good morning")

hello world
good morning

In [2]:
print("1")
print("22")
print("333")
print("4444")
print("55555")
print("666666")
print("7777777")

1
22
333
4444
55555
666666
7777777

In [5]:
print("   1   ")
print("  2 2  ")
print(" 3 3 3 ")
print("4 4 4 4")

   1
  2 2
 3 3 3
4 4 4 4